html,body{
  height: 100%;
}

.todo-list{
  height: 100%;
  &__wrapper{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__title{}
  tasks-wrapper{
    .task{
      &__title{}
      &__button-delete{

      }
    }
  }
  .input-wrapper{
    .input__text{}
    .input__button{}
  }
}
